@{
    ViewData["Title"] = "Activities";
}
@model List<SeniorConnectActivities.Models.Entities.ActivityModel>

<div class="mt-5">
    <h1>Activiteiten</h1>
</div>
@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Locatie</th>
                <th>Start</th>
                <th>Eind</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activity in Model)
            {
                <tr>
                    <td>@activity.Title</td>
                    <td>@activity.Location</td>
                    <td>@activity.Start</td>
                    <td>@activity.End</td>
                    <td>
                        <a class="text-dark" asp-controller="Activities" asp-action="CreateEditEntity" asp-route-id="@activity.Id">Aanpassen</a> |
                        <a class="text-dark" asp-controller="Activities" asp-action="DetailsEntity" asp-route-id="@activity.Id">Details</a> |
                        <a class="text-dark" asp-controller="Activities" asp-action="DeleteEntity" asp-route-id="@activity.Id">Verwijderen</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Geen activiteiten gevonden.</p>
}

<div class="d-md-flex justify-content-end">
    <a class="btn btn-dark me-md-2" asp-controller="Activities" asp-action="CreateEditEntity">Toevoegen</a>
</div>